<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>SpotInsights</title>
</head>
<body>

    <div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="bg-light p-4 rounded">
          <!-- Place your text and buttons here -->
          <center><h1>SpotInsights</h1></center>
          <center><h5>Hi! Do you want to discover some things about your Spotify?</h5></center>
          <center>
            <form action="/login" method="POST">
              <button class="btn btn-success spotify-btn">
                <img src="{{ url_for('static', filename='icons/spotify.png') }}" alt="Spotify Logo" style="width:40px; height:40px; margin-right:10px;">
                Log in Spotify Account
              </button>
            </form>
          </center>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>